0.5
	//percent_overlap_cutoff 
	//Used to specify cutoff for overlap (0-1)

data_store/example_formatted_for_region_of_interest.txt
	//this is the master cnv list
	//this list will be used in our output file with the
	//"number_overlap_cases" and "number_overlap_controls" columns added
												
data_store/example_ISCA_db.txt
	//this is our test file
	//all entries in master_cnv_file will be tested
	//for overlap with all entries in this file		
		
example_out_ISCA_overlap(50perc_olap).txt
	//file name to write output to
	//this file will be a tab-delimited file with
	//all entries from master_cnv_file and
	//"number_overlap_cases" and "number_overlap_controls" columns added
	
	
//NOTE: The formatting of this config file must stay as it is! Do not move what lines the data is on! and no spaces in directory/file names!
