//keep the format of this file the same!
//only change the path of the file as necessary
cnv_filename	data_store/cnv_files/example_cnv_formatted_for_GVAT.txt
DGV2_filename	data_store/annotation_dbs/131121-DGV2_hg19.txt
other_algorithm_filename	data_store/cnv_files/example_other_algorithm_cnv_formatted_for_GVAT.txt
gencode_filename	data_store/annotation_dbs/161017-Gencode_V24_hg19.txt
ccds_filename	data_store/annotation_dbs/131121-CCDS_HG19.txt
omim_filename	data_store/annotation_dbs/131122-OMIM-HG19.txt
cumulative_database_filename	data_store/annotation_dbs/example_Cumulative_CLEANED_DB.txt
chop_cnvs_filename	data_store/annotation_dbs/CNVBlocks_hg19_freq1_1048.txt
hapmap_cnvs_filename	data_store/annotation_dbs/HapMap3_CNPs_hg19_freq1_850.txt
pathway_genes_filename	data_store/annotation_dbs/131121-SigTrans&DevBio_from_reactome.txt
pseudo_gene_filename	data_store/annotation_dbs/PseudoGene_build69_modified_for_GVAT0.0.2.txt
pseudo_parent_filename	data_store/annotation_dbs/PseudoGene_build69_PARENTS_5005_formatted_for_GVAT0.0.2.txt
out_filename	out_project/example_annotated_by_GVAT.txt