data_store/example_variants.txt
	//this is the variant list
	//this list will be used in our output file with the
	//primers_to_use column added
												
data_store/example_our_primers.txt
	//this is our primer file
		
example_variants_for_sanger_w_primers.txt
	//file name to write output to
	
//NOTE: The formatting of this config file must stay as it is! Do not move what lines the data is on! and no spaces in directory/file names!