data_store/example_cnvs_formatted_for_generate_num_snps.txt
	//this is the master cnv list
									
data_store/sdrg_custom.hg19.pfb
	//this is our PFB file	

data_store/DOESNT MATTER. LINE NOT READ. NOT FUNCTIONING
	//this is a sample file. used to calculate which markers were used 
		
example_cnvs_numSNPadded.txt
	//file name to write output to
	//this file will be a tab-delimited file with
	//all entries from master_cnv_file
//NOTE: The formatting of this config file must stay as it is! Do not move what lines the data is on! and no spaces in directory/file names!