data_store/example_variants_fn_r1.txt
	//this is the regions file
F:/example/project/igv
	//this is the snapshot directory to use in the batch file
hg19
	//this is the genome to use in the batch file
project/example_out_fn_r1.batch
	//file name to write output to
	//this file will be igv batch file
//NOTE: The formatting of this config file must stay as it is! Do move what lines the data is on! and no spaces in directory/file names!
