0.50
	//percent_overlap_cutoff 
	//Used to specify cutoff for overlap (0-1)

false
	//Do you want to limit "matches" to those CNVS that match our type?
	//ie. a dup and del that overlap would not be considered a match if this is true
							
data_store/example_cnvs_other_algorithm_formatted_for_our_programs.txt
	//this is the master cnv list
	//this list will be used in our output file with the
	//"number_overlap_cases" and "number_overlap_controls" columns added
												
data_store/example_cnvs_other_algorithm_formatted_for_our_programs.txt
	//this is our test file
	//all entries in master_cnv_file will be tested
	//for overlap with all entries in this file		
		
example-50per_nottypespec.txt
	//file name to write output to
	//this file will be a tab-delimited file with
	//all entries from master_cnv_file and
	//"number_overlap_cases" and "number_overlap_controls" columns added
	
	
//NOTE: The formatting of this config file must stay as it is! Do move what lines the data is on! and no spaces in directory/file names!
