data_store/example_cnvs_formatted_for_our_programs.txt
	//this is the master cnv list
	//this list will be used in our output file with the
	//'In_other_algorithm' column added
												
data_store/example_cnvs_other_algorithm_formatted_for_our_programs.txt
	//this is our test file
	//all entries in master_cnv_file will be tested
	//for overlap with all entries in this file		
		
example_compare_C_to_D.txt
	//file name to write output to
	//this file will be a tab-delimited file with
	//all entries from master_cnv_file and
	//'In_other_algorithm' column added
	
	
//NOTE: The formatting of this config file must stay as it is! Do move what lines the data is on! and no spaces in directory/file names!
