data_store/example_cnvs_formatted_for_sex_chr_programs.txt
	//this is the master cnv list
	//this list will be used in our output file with the
	//"number_overlap_cases" and "number_overlap_controls" columns added
												
some_similar_pheno some_pheno|other_pheno
	//Add phenotypes that you want to count as similar here
	//Separate each similar phenotype by a tab, groups of similar phenotypes by a |
	
0.20
	//Overlap threshold. This is the threshold that the overlap must be greater than
	//in order to count as an overlap for the # cases columns
	
example_out_analysisX-case_control_counts(20%threshold).txt
	//file name to write output to
	//this file will be a tab-delimited file with
	//all entries from master_cnv_file and
	//"number_overlap_cases" and "number_overlap_controls" columns added
	
	
//NOTE: The formatting of this config file must stay as it is! Do move what lines the data is on! and no spaces in directory/file names!
